.calendarContainer {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.calendarClass {
  border-radius: 14px;
  background-color: #a3b18a30;
  color: #135a40;
  /* color: #120309; */
}
