.table-bordered {
  border-radius: 10px;
  font-size: 13px;
}

.table-bordered th,
.table-bordered td {
  text-align: center;
}

.tableSpacing {
  margin-bottom: 20px;
}

.table-bordered {
  border-collapse: separate;
  border-spacing: 0 10px;
  border-radius: 10px;
}

.table-bordered th,
.table-bordered td {
  padding: 10px;
}

.table-bordered th:first-child,
.table-bordered td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 2vh;
}

.table-bordered th:last-child,
.table-bordered td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 2vh;
}

.table thead tr:first-child {
  border: none;
}

.table-bordered th {
  border: none;
  text-align: center;
}
