@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

.table-spacing {
  margin-bottom: 20px;
}

.table-bordered th,
.table-bordered td {
  text-align: center;
}

.table-spacing {
  margin-bottom: 20px;
}

.table-bordered {
  border-collapse: separate;
  border-spacing: 0 10px;
  border-radius: 10em;
}

.table-bordered th,
.table-bordered td {
  padding: 10px;
}

.table-bordered th:first-child,
.table-bordered td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 2vh;
}

.table thead tr:first-child {
  border: none;
}

.table-bordered th {
  border: none;
  text-align: center;
}

.highlight-text {
  font-family: "Montserrat";
  font-weight: 800;
}
.highlight-text-2 {
  font-family: "Montserrat";
  font-weight: 400;
}

.table {
  font-size: 13px;
}

.filterBarMateriais {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 3em;
  margin-top: 2em;
}

.filterBarMateriais-item {
  margin-right: 10px;
  padding: 0;
}

.filterBarMaterial {
  width: 13em;
  height: 2em;
  margin-left: 1em;
  padding-left: 0.3em;
  flex-direction: row;
  align-items: center;
  border-radius: 0.3rem;
  background-color: #ecf0ed;
  border: 2px solid #a3b18a;
}
.searchBarMateriais {
  width: 25em;
  height: 2em;
  margin-left: 0.4em;
  flex-direction: row;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #ecf0ed;
  border: 2px solid #a3b18a;
  color: black;
}

.verde {
  background-color: #70cc7a;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.amarelo {
  background-color: #f9d935;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}

.vermelho {
  background-color: #f1585a;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  display: inline-block;
}
