@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap");
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #dde5df;
  text-decoration: none;

  &__logo {
    display: grid;
    place-items: center;
    height: 20%;
    margin-top: -30px;
  }

  &__menu {
    position: relative;
    text-decoration: none;

    &__item {
      display: flex;
      align-items: center;
      place-content: flex-start;
      padding: 0.8rem 2rem;
      /* font-size: 0.9rem; */
      color: #3a5a40;
      transition: color 0.3s ease-in-out;
      text-decoration: none;
      text-transform: inherit;
      font-family: Dosis;
      font-weight: 400;
      font-size: 18px;

      &.active {
        color: #3a5a40;
        text-decoration: none;
        font-weight: 700;
        text-decoration: none;
      }
      &.text {
        text-decoration: none;
      }

      &__icon {
        margin-right: 0.8rem;

        i {
          font-size: 1.75rem;
        }
      }
    }
  }
}

.avatar {
  margin-top: -2em;
  margin-bottom: -1em;
  text-align: center;
  justify-content: center;
}

.custom-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  align-content: center;
  padding-left: 6em;
  padding-right: 6em;
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  z-index: 3;
}

.modalRiopele {
  color: #204d46;
  font-family: Dosis;
  font-size: 18px;
  font-weight: 600;
}

.footerUp {
  font-size: 18px;
  font-family: "Montserrat";
  font-weight: 500;
  margin-top: 2em;
}

.footerDown {
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 500;
  margin-top: 2em;
  margin-bottom: 0.5em;
}
