@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");

h1 {
  font-family: "Dosis";
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 51px;
  color: #120309;
}

.listaOrdens {
  padding: 0.75em;
}

.table-bordered {
  border-radius: 10px;
  font-size: 13px;
}

.table-bordered th,
.table-bordered td {
  text-align: center;
}

.tableSpacing {
  margin-bottom: 20px;
}

.table-bordered {
  border-collapse: separate;
  border-spacing: 0 10px;
  border-radius: 10px;
}

.table-bordered th,
.table-bordered td {
  padding: 10px;
}

.table-bordered th:first-child,
.table-bordered td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 2vh;
}

.table-bordered th:last-child,
.table-bordered td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 2vh;
}

.table thead tr:first-child {
  border: none;
}

.table-bordered th {
  border: none;
  text-align: center;
}

.highlightText {
  font-family: "Montserrat";
  font-weight: 800;
}
.highlightText2 {
  font-family: "Montserrat";
  font-weight: 400;
}

.table {
  font-size: 13px;
}

.head {
  margin-bottom: 2.5em;
}

.iconRefresh {
  margin-top: 1em;
  margin-left: 1em;
}

.iconDownload {
  margin-top: 1em;
  margin-left: 1em;
}

.filterBarOrdem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 3em;
}

.filterBarOrdemItem {
  margin-right: 10px;
  padding: 0;
}

.dataEntregaFunc {
  width: 13em;
  height: 2em;
  margin-left: 1em;
  padding-left: 0.6em;
  flex-direction: row;
  align-items: center;
  border-radius: 0.3rem;
  background-color: #ecf0ed;
  border: 2px solid #a3b18a;
  color: black;
}
.filterBar {
  width: 13em;
  height: 2em;
  margin-left: 1em;
  padding-left: 0.3em;
  flex-direction: row;
  align-items: center;
  border-radius: 0.3rem;
  background-color: #ecf0ed;
  border: 2px solid #a3b18a;
}

.searchBarFunc {
  width: 20em;
  height: 2em;
  margin-left: 0.5em;
  padding-left: 0.6em;
  flex-direction: row;
  align-items: center;
  border-radius: 9px;
  background-color: #ecf0ed;
  border: 2px solid #a3b18a;
  color: black;
}

.filterEstado {
  width: 10em;
  height: 2em;
  margin-left: 1em;
  padding-left: 0.6em;
  flex-direction: row;
  align-items: center;
  border-radius: 9px;
  background-color: #ecf0ed;
  border: 2px solid #a3b18a;
  color: rgb(98, 98, 98);
}

.filterPrioridade {
  width: 10em;
  height: 2em;
  padding-left: 0.6em;
  flex-direction: row;
  align-items: center;
  border-radius: 9px;
  background-color: #ecf0ed;
  border: 2px solid #a3b18a;
  color: rgb(98, 98, 98);
}

.containerOrdensBorder {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 2em;
}

.boxOrdensBorder {
  border: 2px solid #a3b18a;
  border-radius: 9px;
  width: 8em;
  height: 5em;
  background-color: (221, 229, 223);
}

.boxOrdens2rd {
  box-shadow: 2px 2px 15px 0px #dde5df;
  border: 2px solid #dde5df;
  background-color: rgb(221, 229, 223, 0.5);
}

.boxOrdens3rd {
  box-shadow: 2px 2px 15px 0px rgba(95, 164, 217, 0.25);
  border: 2px solid #5fa4d9;
  background-color: rgba(95, 164, 217, 0.25);
}

.boxOrdens4th {
  box-shadow: 2px 2px 15px 0px rgba(112, 204, 122, 0.25);
  border: 2px solid #70cc7a;
  background-color: rgba(112, 204, 122, 0.25);
}

.boxOrdens5th {
  box-shadow: 2px 2px 15px 0px rgba(245, 130, 131, 0.25);
  border: 2px solid #f58283;
  background-color: rgba(245, 130, 131, 0.25);
}

.colMargin {
  margin: auto auto;
}

.textoOrdensBox {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-weight: 500;
  font-family: "Montserrat";
}
