@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

.login,
.image {
  min-height: 100vh;
}

.bg-image {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("../../assets/images/tecido.jpg");
  background-size: cover;
  background-position: center center;
  z-index: -1;
}
img {
  width: fit-content;
  height: fit-content;
  margin: auto;
  z-index: 1;
}
.resizedLogo {
  width: fit-content;
  height: fit-content;
  padding-right: "20rem";
}

h3 {
  color: #3a5a40;
  font-family: "Montserrat";
  margin-bottom: 2em;
  margin-top: -1em;
  text-align: center;
}
.text {
  color: #3a5a40;
}

.btn {
  background-color: #a3b18a;
  color: #3a5a40;
  font-family: "Montserrat";
  width: 40%;
  margin: auto;
}

.btn:hover {
  background-color: #3a5a40;
  color: white;
  font-family: "Montserrat";
  width: 40%;
  margin: auto;
}

a {
  color: #3a5a40;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40%;
  color: white;
  margin-bottom: 2em;
}
