/* .sidebar {
  height: 100vh;
  width: 15%;
  position: fixed;
}

.main-content {
  width: 85%;
  padding: 10px;
  margin-left: 15%;
  padding: 1em;
}
 */

.layout-container {
  display: flex;
}

.sidebar {
  width: 230px;
  height: 100vh;
}

.content-container {
  flex-grow: 1;
  margin-left: 230px;
  height: 100vh;
  padding: 10px;
}
