.contentOperario {
  padding: 0em 2em;
  max-height: 100vh;
}

.header {
  background-color: #dde5df;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border-radius: 1em;
  padding: 1.5em;
  margin-bottom: 1em;
}

.formattedDate {
  font-family: "Montserrat";
  font-size: 15px;
  color: #3a5a40;
}

.formattedTime {
  font-family: "Montserrat";
  font-size: 30px;
  color: #3a5a40;
}

.menuButton {
  border: 1px solid #3a5a40;
  border-radius: 9px;
  padding: 1em;
}

.menuRow {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}

.footer {
  background-color: #dde5df;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: auto;
  border-radius: 1em;
  border-radius: 5em 5em 0em 0em;
  padding-top: 2em;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer .textFooter {
  padding: 1.5em;
}
