.header-container {
  padding: 1em;
  padding-right: 2em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-btn {
  padding: 0.8em;
  padding-left: 2em;
  padding-right: 2em;
  cursor: pointer;
  color: #ffffff;
  font-size: 0.9rem;
  font-weight: 700;
  border-radius: 8px;
  text-transform: uppercase;
  border: 1px solid #2e5a53;
  background-color: #2e5a53;
}
.header-btn:hover {
  color: #2e5a53;
  border: 1px solid #2e5a53;
  background-color: #f0f2f5;
}
.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.header-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  cursor: pointer;
}

.searchBar {
  width: 30em;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 1.625rem;
  padding-right: 10px;
}

#searchQueryInput {
  width: 100%;
  height: 2.8rem;
  background: #ecf0ed;
  outline: none;
  border: none;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 1.5rem;
  font-size: 1rem;
}

#searchQuerySubmit {
  width: 3.5rem;
  height: 2.8rem;
  margin-left: -3.5rem;
  background: none;
  border: none;
  outline: none;
}

#searchQuerySubmit:hover {
  cursor: pointer;
}

.toggle-icon {
  width: 24px;
  margin-right: 10px;
  cursor: pointer;
}

.logo {
  width: 20%;
  padding-bottom: -2em;
}

.icons {
  align-self: center;
  align-content: center;
}

.swal-button--confirm {
  background-color: #2e5a53;
}
.swal-button:hover {
  background-color: #2e5a53;
  color: black;
}
.swal-footer {
  text-align: center;
}

.dark #root {
  background-color: white;
  color: black;
}

.light #root{
  background-color: black;
  color: white;
}
.root.light {
  background-color: white;
  color: black;
}

.root.dark{
  background-color: black;
  color: white;
}