@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

.table-spacing {
  margin-bottom: 20px;
}

.table-bordered {
  border-radius: 10px;
}

.table-bordered th,
.table-bordered td {
  text-align: center;
}

.table-spacing {
  margin-bottom: 20px;
}

.table-bordered {
  border-collapse: separate;
  border-spacing: 0 10px;
  border-radius: 10px;
}

.table-bordered th,
.table-bordered td {
  padding: 10px;
}

.table-bordered th:first-child,
.table-bordered td:first-child {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 2vh;
}

.table-bordered th:last-child,
.table-bordered td:last-child {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 2vh;
}

.table thead tr:first-child {
  border: none;
}

.table-bordered th {
  border: none;
  text-align: center;
}

.highlight-text {
  font-family: "Montserrat";
  font-weight: 800;
}
.highlight-text-2 {
  font-family: "Montserrat";
  font-weight: 400;
}

.table {
  font-size: 13px;
}

.head {
  margin-bottom: 2.5em;
}

.iconRefresh {
  margin-top: 0.8em;
  margin-left: 1em;
}

.spacing {
  margin-left: 1em;
}
.filterBarOrdem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 3em;
}

.filterBarOrdem-item {
  margin-right: 10px;
  padding: 0;
}

.dataEntregaFunc {
  width: 13em;
  height: 2em;
  margin-left: 1em;
  padding-left: 0.6em;
  flex-direction: row;
  align-items: center;
  border-radius: 0.3rem;
  background-color: #ecf0ed;
  border: 2px solid #a3b18a;
  color: black;
}
.filterBar {
  width: 13em;
  height: 2em;
  margin-left: 1em;
  padding-left: 0.3em;
  flex-direction: row;
  align-items: center;
  border-radius: 0.3rem;
  background-color: #ecf0ed;
  border: 2px solid #a3b18a;
}

.searchBarFunc {
  width: 50em;
  height: 2em;
  margin-left: 1em;
  padding-left: 0.6em;
  flex-direction: row;
  align-items: center;
  border-radius: 1.625rem;
  background-color: #ecf0ed;
  border: 2px solid #a3b18a;
  color: black;
}

.filterBarMaquinas {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-right: 3em;
  margin-top: 2em;
}

.filterBarMaquinas-item {
  margin-right: 10px;
  padding: 0;
}

.filterBarMaquina {
  width: 13em;
  height: 2em;
  margin-left: 1em;
  padding-left: 0.3em;
  flex-direction: row;
  align-items: center;
  border-radius: 0.3rem;
  background-color: #ecf0ed;
  border: 2px solid #a3b18a;
}
.searchBarMaquinas {
  width: 20em;
  height: 2em;
  margin-left: 0.4em;
  flex-direction: row;
  align-items: center;
  border-radius: 14px;
  background-color: #ecf0ed;
  border: 2px solid #a3b18a;
  color: black;
}

.spacingMaquinas {
  padding-right: 1em;
  padding-left: 1em;
  padding-bottom: 1em;
}

.imagemMaquina {
  width: 10em;
  height: 10em;
  border-radius: 9px;
}

.card {
  border: 1px solid #3a5a40 !important;
}

.titleCard {
  font-size: 30px;
  font-family: Dosis;
  font-weight: 600;
}

.textCard {
  font-size: 16px;
  font-family: Dosis;
  font-weight: 600;
}
.textCardInfo {
  font-size: 15px;
  font-family: "Montserrat";
  font-weight: 400;
}

.botaoVerMais {
  background-color: #dad7cd;
  color: #3a5a40;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: 500;
  width: 11em;
  height: 2.5em;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border: none;
  border-radius: 6px;
  outline-style: none;
  outline-color: none;
  text-decoration: none;
}
